
/*----------------- section 1 start -----------------*/

.highlight-img img{
  width: 100%;
  
}


/* ------------------section1 end---------------------- */

/*------------------ section2 --------------------------*/



.s3-heading {
  
  padding-top: 32px;
  padding-bottom: 52px;
}

.s3-heading h2 a {
  color: #3D3D3D;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

  text-decoration: none;
}

.s3-heading h2 span a {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

}
/*------------------ section2 --------------------------*/


/*------------------ section-3 start-------------------- */

.section3-add-img img{

  width: 100%;
  

}

/*------------------ section-3 end ----------------------*/

/*------------------ section-4 start-------------------- */

  .add-info h2{
    font-weight: 600;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #111111;
padding:40px 0 30px 0;

  }
  .add-info p{
    font-weight: 300;
font-size: 25px;
line-height: 40px;
color: #111111;
padding-bottom: 85px;


  }

/*------------------ section-4 end-------------------- */

/* media-query */
@media (max-width:992px) {
  .add-info h2{
    font-size: 35px;
    line-height:45px;
  }
  .add-info p{
    font-size: 23px;
    line-height: 38px;
  }
  .product-img-1 img {
    width: 100%;
    border-radius: 40px;
    padding: 5px;
}
}

@media (max-width:767px) {
  .add-info h2{
    font-size: 32px;
    line-height:42px;
    padding:30px 20px 10px 0px;
    padding-left:20px;
  }
  .add-info p{
    font-size: 21px;
    line-height: 35px;
  }
  .s3-heading h2 a {
   
    font-size: 16px;
    line-height:27px;
  }
  .s3-heading h2 span a {
    
    font-size:16px;
    line-height:27px;
  }
  .section-3-advertise {
    padding-bottom: 20px;
}
.section-3-advertise {
  padding-bottom: 20px;
}
}

@media (max-width:576px) {
  
 
  .section-3-advertise {
    padding-bottom: 20px;
 }

 .add-info p {
 
  padding-bottom: 30px;
 }
 .section-3-advertise {
  padding-bottom:0;
}
}

@media (max-width:400px) {
  .add-info h2{
    font-size: 28px;
    line-height:38px;
  }
  .add-info p{
    font-size: 18px;
    line-height:27px;
  }
}
/* highlight-page 1 end */

/* highlight2-css start */
.nav-pills 
{
margin-left: 10px;
gap:35px;
margin-bottom: 80px !important;
}
.product-img-1 img{
  width: 100%;
  border-radius: 40px;
  padding: 10px;

}
.product-info-1 h2
{
  font-weight: 600;
font-size: 40px;
line-height: 50px;
text-transform: uppercase;
color: #111111;
padding-top: 44px;
padding-left: 10px;

}
.product-info-1 p{

  font-weight: 300;
font-size: 25px;
line-height: 40px;
color: #111111;
padding-bottom: 64px;
padding-left: 10px;
}
.section-3-advertise{
  padding-bottom: 50px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link { 
background: #3B42F8!important;  
border-radius: 40px;
padding: 27px 156px;
font-weight: 300;
font-size: 30px;
line-height: 45px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #FFFFFF!important;

}

.nav-pills .nav-link {

  font-weight: 300;
font-size: 30px;
line-height: 45px;
text-transform: uppercase;
padding: 27px 160px;
color: #3B42F8!important;

background: #FFFFFF!important;
border-radius: 40px!important;

}

/* highlight2-css end */

/*---------------------- media query start------------------- */


/* --------------------max-width:992px start---------------- */
@media (max-width:1200px){
  .add-info p {
    font-weight: 300;
    font-size: 23px;
    line-height: 35px;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #3B42F8!important;
    border-radius: 40px;
    padding: 20px 128px;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
  }

  .nav-pills .nav-link {
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 20px 128px;
  }

}
@media (max-width:992px){
  /* section3 */
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #3B42F8!important;
    border-radius: 40px;
    padding:15px 120px;
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
  }

  .nav-pills .nav-link {
    font-weight: 300;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 15px 120px;
  }
  .product-info-1 h2 {

    font-size: 32px;
    line-height: 40px;
    padding-top: 40px;
  }

  .product-info-1 p {
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;

  }
  .add-info h2 {
  
    padding: 20px 0 17px 0px;
  }

  .add-info p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
  /* section3 */
  .section-3-advertise{
    padding-bottom: 30px;
  }
  .product-img-1 img {
    width: 100%;
    border-radius: 40px;
    padding: 5px;
}
}

/* --------------------max-width:992px end---------------- */
/* --------------------max-width:768px start---------------- */

@media (max-width:768px){
/* section3 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   
  padding: 12px 90px;
  font-size: 19px;
}
.nav-pills .nav-link {
 
  padding: 12px 90px;
  font-size:19px;
}

.product-info-1 h2 {

  font-size: 30px;
  line-height:38px;
  padding-top:36px;
}

.product-info-1 p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding-bottom:30px;
  


}
.nav-pills {
  margin-left: 10px;
  gap: 30px;
  margin-bottom: 50px !important;
}

.s3-heading {

  padding-top: 32px;
  padding-bottom: 35px;
}
/* section3 */
.add-info p {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
.add-info h2 {
  
  padding: 17px 0 10px 0px;
}
}

/* --------------------max-width:768px end---------------- */
/* --------------------max-width:576px start---------------- */

@media (max-width:576px){

/* section3 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   
  padding: 5px 40px;
  font-size: 17px;
}
.nav-pills .nav-link {
 
  padding: 5px 40px;
  font-size:17px;
}

.product-info-1 h2 {

  font-size: 28px;
  line-height:35px;
  padding-top:20px;
}

.product-info-1 p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

}
.nav-pills {
  margin-left: 10px;
  gap: 30px;
  margin-bottom: 20px !important;
}

.s3-heading {

  padding-top: 20px;
  padding-bottom: 20px;
}
/* section3 */

.add-info h2 {
    font-size: 23px;
    line-height: 25px;
}
.add-info p {
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
}

}

/* --------------------max-width:576px end---------------- */


/* --------------------max-width:400px start---------------- */

@media (max-width:400px){
/* section3 */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   
  padding: 0px 34px;
  font-size: 15px;
}
.nav-pills .nav-link {
 
  padding: 0px 43px;
  font-size:15px;
}
.nav-pills {
  margin-left: 10px;
  gap: 20px;
  margin-bottom: 20px !important;
}
.product-info-1 h2 {
  font-size: 22px;
  padding-top: 20px;
  line-height: 27px;
}
.product-info-1 p {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;

}

.s3-heading h2 a {
  font-size: 15px;
  line-height: 20px;
}

.s3-heading h2 span a {
  font-size: 15px;
  line-height: 20px;
}

.section-3-advertise {
  padding-bottom: 15px;
}

.add-info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.add-info h2 {
  font-size: 21px;
  line-height: 18px;
}
.s3-heading {

  padding-top: 15px;
  padding-bottom: 15px;
}
}

/* --------------------max-width:400px end---------------- */

