

/* header .wrapper {
    padding: 0 60px;
} */

/* 
.titleBox h3 {
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 40px;
}

.titleBox h1 {
    font-weight: 400;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 70px;
}

.titleBox {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 6.9%;
}

.h1-title {
    font-size: 55px;
    line-height: 70px;
    font-weight: 300;
    color: #111111;
} */

.form-control {
    font-weight: 300;
font-size: 22px;
line-height: 33px;
text-transform: lowercase;
color: #111111;

}
input::placeholder{
    color: #3D3D3D;
    font-weight: 300;
font-size: 22px;
line-height: 33px;
text-transform: lowercase;
color: #111111;

    opacity: 0.3;
}
.locate_us_container {
    max-width: 86.4%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.locate_us_main_img {
    width: 100%;
}

.locate_us_main_img img {
    border-radius: 30px;
    width: 100%;
}

.locate_us_nav_a_tag {
    margin-top: 30px;
}

.locate_us_nav_a_tag a {
    text-decoration: none;
    color: #111111;
    font-weight: 300;
    font-size: 30px;
    font-family: Poppins;
    line-height: 45px;
    text-transform: lowercase;

}

.locate_us_nav_a_tag a:hover {
    color: #3D3D3D;
}

.locate_us_page_a_tag {
    margin: 0 auto;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locate_box_1 .locate_box_1_para {
    width: 90%;
    font-size: 20px;
    padding-bottom: 0px;
    line-height: 30px;
}

.locate_box_1 .locate_box_1_img {
    width: 90%;
    font-size: 20px;
    padding-bottom: 0px;
    line-height: 30px;
    height: 0px;
}
/*.locate_box_1  img{*/
/*    height: 30px;*/
/*    width: 22px;*/
/*}*/



.locate_us_page_a_tag a {
    font-weight: 300;
    text-align: center;
    color: #111111;
    font-size: 30px;
    padding: 20px 50px;
    line-height: 45px;
    background-color: #fff;
    border-radius: 40px;   
}

.locate_us_page_a_tag a:hover {
    background-color: #3B42F8;
    color: #FFFFFF;
}

.locate_box {
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
}

.locate_box_1 {
    /*width: 31%;*/
    padding: 30px;
    border: 1px solid #1111114f;
    border-radius: 50px;
    height: 596px;
    line-height: 33px;
    margin: 27px 15px;
}

.locate_box_1 h2 {
    padding-bottom: 20px;
    line-height: 46px;
    font: 2rem;
}

address {
    display: flex;
    gap: 20px;
    line-height: 30px;
    font-size: 20px;

}       

span img {
    width: 23px;
}
.locate_us_container .col-xxl-4.col-md-6:nth-child(5) .locate_box_1 p:nth-child(3),
.locate_us_container .col-xxl-4.col-md-6:nth-child(5) .locate_box_1 p:nth-child(4){
    margin-bottom: 15px;
}
.locate_us_container .col-xxl-4.col-md-6:nth-child(6) .locate_box_1 p:nth-child(3),
.locate_us_container .col-xxl-4.col-md-6:nth-child(6) .locate_box_1 p:nth-child(4){
    margin-bottom: 15px;
}

.locate_us_container .col-xxl-4.col-md-6:nth-child(8) .locate_box_1 p:nth-child(3),
.locate_us_container .col-xxl-4.col-md-6:nth-child(8) .locate_box_1 p:nth-child(5){
    margin-left: 50px;
    margin-bottom: 10px;
}

.locate_us_container .col-xxl-4.col-md-6:nth-child(9) .locate_box_1 p:nth-child(3){
    margin-left: 50px;
    margin-bottom: 10px;
}


.locate_box_1 h2 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
}

.locate_box_1 p {
    display: flex;
    gap: 20px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.inquiry_form {
    margin-top: 200px;
}

.inquiry_form span {
    font-size: 55px;
}

.myIn {
    padding: 10px 0px !important;
    font-size: 24px !important;
    border: none !important;
    background: transparent !important;
    border-bottom: 1px solid #3D3D3D !important;
    border-radius:0 !important;
    opacity: 0.3;
}

.btn_locate .btn {
    margin-top: 25px;
    background: #3B42F8 !important;
    border-radius: 40px !important;
    font-weight: 300!important;
font-size: 30px!important;
line-height: 45px!important;
/* identical to box height */

text-align: center;
text-transform: lowercase;
padding: 20px 100px;
color: #F8F8FF!important;

}
.locate_box_1:hover
{
    color: white;
    background-color: #3B42F8;
}
.locate_box_1:hover img{
    filter: invert(1);
  }

  .tabBtn {
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    padding: 28px 140px;
    background-color: #fff;
    border-radius: 40px;
    color: #111111;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    display: block;
    cursor: pointer;
    margin-top: 29px;
    margin-bottom: 70px;
}
@media only screen and (max-width: 1599px) {
    address {
        font-size: 16px;
        line-height: 28px !important;
    }
    span img {
        width: 20px;
    }
    .locate_box_1 p {
        font-size: 16px;
        line-height: 30px;
    }
    .locate_box_1 h2 {
        font-size: 1.6rem;
        line-height: 35px;
    }

    .locate_box_1 {
        height: 551px;
    }
    .locate_box_1 {
      
        margin: 20px 8px;
    }
  }
  @media only screen and (max-width: 1480px) {
   
    /* .locate_box_1 h2 {
        font-size: 2.6rem;
        line-height: 59px;
    } */
    .locate_us_page_a_tag a {
        width: 20%;
        font-size: 21px;
    }
    .locate_box {
        flex-wrap: wrap;
    }
    .locate_box
    {
        margin-top: 0px;
    }

    address {
        font-size: 23px;
        line-height: 40px !important;
    }
    .locate_box_1 p {
margin-bottom: 15px;
    }

    /*.locate_box_1  img{*/
    /*    width: 22px !important; */
    /*    height: 22px !important;*/
    /*}*/
    .locate_box_1 {
        width: 94%;
        padding: 40px 30px;
        border: 1px solid #11111199;
        border-radius: 50px;
        height: 525px;
        line-height: 33px;
        margin-bottom: 30px;
    }
    span img {
        width: 19px;
    }
    .inquiry_form {
        margin-top: 100px;
    }
    .tabBtn {
        font-weight: 400;
        font-size: 22px;
        padding: 15px 86px!important;
        border-radius: 30px;
        margin-bottom: 45px;
    }
    .activePage {
        padding: 30px 0 20px 0;
    }
    .btn_locate .btn {
        margin-top: 25px;
        background: #3B42F8 !important;
        border-radius: 40px !important;
        font-weight: 300!important;
    font-size: 26px!important;
    line-height: 40px!important;
    /* identical to box height */
    
    text-align: center;
    text-transform: lowercase;
    padding: 20px 80px;
    color: #F8F8FF!important;
    }    
    .locate_box_1 p {
        display: flex;
        gap: 10px;
    }

  }
  @media only screen and (max-width: 899px) {
    .locate_box_1 {
        height: 590px;
    }
    .locate_box_1 h2 {
        font-size: 2rem;
        line-height: 40px;
    }
    .inquiry_form span {
        font-size: 40px;
    }
    .locate_box {
        flex-wrap: wrap;
    }
    .locate_box
    {
        margin-top: 0px;
    }
    .locate_us_page_a_tag a {
        width: 32%;
        font-size: 20px;
    }

    address {
        font-size: 20px;
        line-height: 34px !important;
    }
    .locate_box_1 p {
        font-size: 16px;
        line-height: 29px;
    }
    /* .locate_box_1 {
        height: unset;
        line-height: 33px;
        margin-top: 50px;
    } */
    
  
    .myIn {
        padding: 25px 20px !important;
        font-size: 20px !important;
    }
    span img {
        width: 17px;
    }
    .tabBtn {
        font-weight: 400;
        font-size: 20px;
        padding: 10px 68px!important;
        border-radius: 23px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    input::placeholder{
        color: #3D3D3D;
        font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-transform: lowercase;
    color: #111111;
    
        opacity: 0.3;
    }
    .activePage {
        padding: 20px 0 20px 0;
    }
  }
  @media only screen and (max-width: 768px) {
    .locate_box_1  {
        margin: 20px 14px !important;
        height: unset;
    }
    .btn_locate .btn {
        margin-top: 25px;
        background: #3B42F8 !important;
        border-radius: 40px !important;
        font-weight: 300!important;
    font-size: 20px!important;
    line-height: 35px!important;
    /* identical to box height */
    
    text-align: center;
    text-transform: lowercase;
    padding: 15px 60px;
    color: #F8F8FF!important;
    }  
    input::placeholder{
        color: #3D3D3D;
        font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-transform: lowercase;
    color: #111111;
    
        opacity: 0.3;
    }
  }

  @media only screen and (max-width: 500px) {
    .locate_box_1 {
        padding: 20px;
        border-radius: 30px;
    }
    .locate_box_1 h2 {
        font-size: 1.6rem;
        line-height: 33px;
    }
    .inquiry_form span {
        font-size: 30px;
    }
    .locate_box {
        flex-wrap: wrap;
    }
    .locate_box
    {
        margin-top: 0px;
    }
    .locate_us_page_a_tag a {
        width: 35%;
        font-size: 20px;
    }

    address {
        font-size: 18px;
        line-height: 27px !important;
    }
    .locate_box_1 p {
        font-size: 13px;
        line-height: 30px;
    }
    .locate_box_1 {
        height: unset;
        line-height: 33px;
        margin-top: 50px;
    }
    .myIn {
        padding: 15px 0px !important;
        font-size: 16px !important;
    }
    span img {
        width: 15px;
    }
    .inquiry_form span {
        font-size: 20px;
    }
    .myBtn {
        margin-top: 20px;
        background: #3B42F8 !important;
        border-radius: 70px !important;
        color: white !important;
        /* width: 199px !important; */
        /* height: 60px !important; */
        font-size: 16px !important;
        padding: 10px 30px !important;
    }
    .inquiry_form {
        margin-top: 36px;
    }
    .tabBtn {
     
            font-weight: 400;
            font-size: 15px;
            padding: 3px 46px!important;
          border-radius: 18px;
                margin-top: 6px;
                margin-bottom: 10px;
    }
    
    input::placeholder{
        color: #3D3D3D;
        font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-transform: lowercase;
    color: #111111;
    
        opacity: 0.3;
    }
    .mt-5 {
        margin-top: 2rem!important;
    }
    .locate_box_1 {
        margin: 20px 12px !important;
        height: unset;
    }
    .btn_locate .btn {
        padding: 7px 50px !important;
        font-size: 19px;
    }
  }

  @media only screen and (max-width: 390px) {
    .locate_box_1 h2 {
        font-size: 1.4rem;
        line-height: 30px;
    }
    
    /* .inquiry_form span {
        font-size: 30px;
    } */
    .locate_box {
        flex-wrap: wrap;
    }
    .locate_box
    {
        margin-top: 0px;
    }
    .locate_us_page_a_tag a {
        width: 50%;
        font-size: 20px;
    }

    address {
        font-size: 16px;
        line-height: 24px !important;
    }
    address {
        font-size: 13px;
        line-height: 24px !important;
    }
    .locate_box_1 {
        height: unset;
        line-height: 33px;
        margin-top: 50px;
    }
    /* .myIn {
        padding: 25px 20px !important;
        font-size: 20px !important;
    } */
    span img {
        width: 15px;
    }
    .btn_locate .btn {
        padding: 4px 37px !important;
        font-size: 19px;
  }
  }
  @media only screen and (max-width: 320px){
    .inquiry_form span {
        font-size: 27px;
        
  }
  .inquiry_form {
    margin-top: 40px;
}

.myBtn {
    margin-top: 40px;
    background: #3B42F8 !important;
    border-radius: 70px !important;
    color: white !important;
    width: 144px !important;
    height: 50px !important;
    font-size: 18px !important;
}
.locate_us_container {
   
    padding-bottom: 37px;
}
.btn_locate .btn {
    padding: 4px 37px !important;
    font-size: 19px;
}


  }
