
/*----------------- section 1 start -----------------*/

.main1 {
  position: absolute;
  content: "";
  top: 40%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

.main1 h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;

}

/* form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
} */

/* .form-control {
  width: 20%;
  border-radius: 30px;
  padding: 12px 20px;
} */

/* .btn {
  margin-left: 20px;
  border-radius: 30px;
  padding: 12px 25px;
  background-color: #3B42F8;
  color: white;
  border: none;
} */

.btn1 {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  margin-top: 20px;
}

.nav-link img {
  padding: 0;
  margin-top: 10px;
}
/* 
body {
  margin: 0;
  padding: 0;
} */

/* 
.logo,
.content {
  color: #fafafa;
} */



#overlay {
  position: fixed;
  width: 85%;
  min-height: 100%;
  background-color: #1a1a1a;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay.menu {
  transform: translateY(0%);
}

#overlay a {
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
  margin: 2%;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}
/* 
.logo img {
  width: 223px;
  height: 87px;
} */

/*----------------- section 1 end -----------------*/
/*----------------- section2 start----------------- */

.main-img img {
  width: 100%;
 

  /* height: 673px; */

}

.product-info h2 {
  font-weight: 600;
  font-size: 37px;
  line-height: 50px;
  /* identical to box height, or 125% */

  text-transform: uppercase;

  color: #111111;

}

.product-info p {
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  color: #111111;
  padding-bottom: 30px;
  /* padding-top:10px ; */
}

.section3 {
  padding-bottom: 124px;
}

/*----------------- section2 end----------------- */

/*----------------- section3 start----------------- */


.section3-info {
  padding: 20px;
}

.section3-info h2 {

  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  color: #3B42F8;
  padding-top: 30px;
  padding-bottom: 50px;

}

.section3-info p {
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  color: #111111;

}

.section4-add h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
  text-transform: lowercase;
  color: #FFFFFF;
  padding-top: 141px;
}

.s4-heading{
    margin-top: 20px;

}
.s4-heading h2 a {
  color: #3D3D3D;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

  text-decoration: none;
}

.s4-heading h2 span a {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

}
.heat-tube h2
{
    color:  #3B42F8;
    font-weight: 900;
font-size: 48px;
line-height: 72px;
text-transform: uppercase;
padding-top:60px;
padding-bottom:50px;

}
.heat-tube h3{
    font-weight: 600;
font-size: 45px;
line-height: 68px;
/* identical to box height */

text-transform: uppercase;
/* padding-left: 20px; */
color: #111111;
padding-bottom:40px;

}
.tube-info 
{
  
    margin:20px 10px;
    
}
.tube-info p{
    padding: 51px 32px;
    margin: 0;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-transform: capitalize;
height:150px;
color: #111111;
border: 0.3px solid rgba(17, 17, 17, 0.6);
border-radius: 40px;
}
.tube-info .para{
    padding: 37px 32px;
}
.tube-info p:hover {
    background-color: #3B42F8;
    color: white;
}
/*----------------- section3 end----------------- */

/*----------------- section-4 start--------------- */
.specification-info h3{
    font-weight: 600;
font-size: 45px;
line-height: 68px;
/* identical to box height */

text-transform: uppercase;
/* padding-left: 20px; */
color: #111111;
padding-top: 64px;
padding-bottom:55px;
}
.specification-table{
    background-color: #3B42F8;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    /* padding-bottom:50px; */
    /* padding: 5px 40px 29px 40px; */
    padding: 15px;
}
.specification-grade{
    background-color:#DCD6D6;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    padding: 20px 30px 20px 60px;
}
.specification-grade p{
    font-weight: 300;
font-size: 24px;
line-height: 36px;
margin-bottom: 0;

color: #000000;
}
.s-part1{
    /* border-right: 2px solid #FFFFFF;
    transform: translateY(20px); */
    position: relative;
    padding: 0;
}
.s-part1 h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 39px;
   

}
.s-part1 h4{
    font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #FFFFFF;
padding-bottom:55px;


}
.s-part1 h4 span{

    font-weight: 300;
font-size: 22px;
line-height: 33px;
text-align: center;
color: #FFFFFF;

}
.s-part1 p{
    text-align: center;
    font-weight: 300;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #FFFFFF;
padding: 0 38px;
}
.s-part1::after{
    border-right:2px solid white;
    position: absolute;
    content:"";
    top:2%;
    left:0;
    right:-5%;
    bottom: 0;
    height:273px;
}

/*------------------ section4 end ----------------*/

/*----------------- section5-------------------*/
.s-heading h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    /* identical to box height */
    
    text-transform: uppercase;
    /* padding-left: 20px; */
    color: #111111;
    padding-top: 64px;
    padding-bottom:60px;
}
.application-info p{
    background-color: #3B42F8;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 73px 50px;

}
.application-info p span{
    font-weight: 700;
font-size: 25px;
line-height: 40px;

color: #FFFFFF;

}
.section5-application{
    background-color: #3B42F8;
}
/*-------------------- end --------------------------*/
/*-------------------- section-6 start-------------- */
.other-product {
  margin-bottom: 200px;
}

.other-product-img img {
  width: 100%;
  padding: 20px;
  border-radius: 40px;
}

.p-heading h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  /* identical to box height */
  padding-left: 20px;
  text-transform: uppercase;
  padding-top: 145px;
  color: #111111;
  padding-bottom: 56px;

}

.other-product-info h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */

  text-transform: uppercase;

  color: #111111;
  padding-left: 20px;
  padding-top: 10px;

}

.bg-img img {
  width: 100%;
}

/* section-6 end */

/* section7 */



.f-procuct {
  padding: 20px;
}

.f-img1 img {
  width: 272px;
  height: 108px;
  margin-bottom: 39.66px;
}

.f-img2 img {
  width: 304px;
  height: 203px;

}

.f-procuct {
  padding-left: 50px;
}

.list h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #111111;
}

.list h2 {
  padding-left: 30px;

}

.list ul li {
  list-style-type: none;
}

.list ul li a {
  font-weight: 300;
  font-size: 20px;
  line-height: 220%;
  /* or 44px */
  text-decoration: none;

  color: #111111;


}

.add i {
  font-size: 20px;
  color: #111111;
  padding-left: 33px;
  padding-top: 5px;
}

.add p {
  padding-left: 20px;
  font-size: 20px;
  line-height: 27px;

  color: #111111;
  padding-bottom: 35.55px;
}

.f-contact {
  padding-bottom: 21px;
}

.f-contact h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #111111;
  padding-left: 20px;
  padding-bottom: 4px;

}

.f-mail i {
  color: #111111;
  padding-top: 15px;
  font-size: 20px;
  padding-left: 28px;
}

.f-mail h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 205%;
  color: #111111;
  padding-left: 25px;
}

.address1 h2 {
  padding-bottom: 12px;
}

.f-contact2 h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #111111;
  padding-left: 20px;

  margin-bottom: 0;
}

/* section-7 start */

.section7 {
  background-color: #111111;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  text-align: center;



}

.line {
  padding: 24px;
  margin-bottom: 0;
}

.line p {
  margin-bottom: 0;
  padding: 0 20px;
}

.section7-img img {
  margin: 0 5px;
}

.in {
  background-color: #007AB9;
  padding: 7px;

  border-radius: 20px;
}

/* section-7 end */


/*----------------- section-4 start--------------- */
.section4 {
  background-color: #3B42F8;
  width: 100%;
  height: 402px;
}

.s4-btn .btn {

  color: #3D3D3D;
  padding: 48px 78px;

  border-radius: 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: lowercase;
  background: #FFFFFF;
  margin-top: 130px;

}

.section4-add {
  text-align: center;
  /* padding-top: 141px; */
  color: white;
}

.section4-add h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
  text-transform: lowercase;
  color: #FFFFFF;
  padding-top: 141px;
}



.s4-heading h2 a {
  color: #3D3D3D;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

  text-decoration: none;
}

.s4-heading h2 span a {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

}

/*------------------ section4 end ----------------*/

/*----------------- section5-------------------*/


.footer-list1 {
  padding-top: 29px;
  /* padding-bottom: 24.06px; */
  text-align: center;
}

.footer-list1 h2 {
  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  text-align: center;

  color: #111111;
  padding: 0 30px;
}

.footer-list {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;

}

/*-------------------- end --------------------------*/

/* ------------------media query---------------------- */

/* ------------------1769------------- */
@media (max-width:1769px) {

 

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 40px 70px;
  }
  .tube-info .para {
    padding: 37px 32px;
}
  

}
@media (max-width:1545px) {
  .tube-info p {
    height: 170px;
  }
}

/* -----------------max-width-1769------------- */

/* -----------------max-width-1500------------- */
@media (max-width:1500px) {
    /* section3 */
    .tube-info p {
        height: 180px;
    }


    /* s3 */

}

/* -----------------max-width-1462------------- */
@media (max-width:1462px) {
 /* section3 */
    .tube-info p {
        height: 190px;
    }

    
    /* s3 */


}

/* -----------------max-width-1462------------- */
/* -------------------max-width-1243px----------------- */
@media (max-width:1350px) {
  
    /* section4 */
    .s-part1 h2{
        font-size:27px;

    }
    .s-part1 h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 34px;
    }
    .tube-info p {
      height: 190px;
  }
}

/* -------------------max-width-1243px----------------- */


@media (max-width:1314px) {

  .tube-info p {
    height:220px;
}

}
/* -------------------max-width-1200px----------------- */

@media (max-width:1200px) {

  

  /* section3 end */
  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 30px 60px;

    font-size: 24px;
  }
  .tube-info p {
    height: 170px;
}

.section3-info h2 {
  font-weight: 900;
  font-size: 42px;
  line-height: 60px;
}
}

 
/* ---------------max-width--992px------------------- */
@media (max-width:992px) {

 

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
  }



  /* section5 */
  .m-heading h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
  }

  .p-heading h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
  }

  .other-product-info h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
  }

  
  /* section5 */
  .tube-info p {
    height: 145px;
}
.tube-info p {
  padding: 36px 32px;
}

.section3-info h2 {
  font-weight: 900;
  font-size: 33px;
  line-height: 51px;
}
}

@media (max-width:767px) {
  /* section3 */

  .tube-info p {
    height: 120px;
}

/* section3 */
  .section3-info h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }

  .tube-info .para {
    padding: 25px 32px;
  }

  .heat-tube h2 {
    
    font-size: 40px;
    line-height: 60px;
  }

  .heat-tube h3 {
 
    font-size: 40px;
    line-height: 60px;
  }
  /* section 4 */
 
  .specification-info h3{
    
    font-size: 40px;
    line-height: 60px;
  }
  .s-part1 h4 {
    padding-bottom: 0;
  }
  
  .s-part1 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
  }

  .s-part1 h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  .s-part1 h4 span {
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
  }
  .s-part1 p{
    padding: 10px 38px;
  }

  .specification-grade p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }

  .specification-grade{
    padding: 20px 30px 20px 30px;
  }
/* s5 */

.application-info p{
    font-size: 20px;
    line-height: 30px;
    padding: 50px 50px;
    
}
.application-info p span {
    font-weight: 700;
    font-size: 22px;
    line-height: 37px;

}

.specification-table{
    padding: 20px;
}





.s-heading h3 {
    font-size: 40px;
    line-height: 60px;
}


  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list1 h2 {
    font-size: 20px;

  }

  .f-img2 {
    margin-bottom: 50px;
  }

  /* section5 */

  .p-heading h2 {
    padding-top: 100px;
  }

  .m-heading h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 35 px;
  }


  /* sec5 */
  /* section7 */
  .line {
    flex-direction: column;
  }

  line p {
    font-size: 18px;
  }

  .section7-img {
    padding: 20px;
  }
  .other-product-info h2 {
    padding-bottom:25px;
  }
  
.heat-tube h3 {
 
  padding-bottom: 20px;
}
.heat-tube h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tube-info p {
  padding: 36px 32px;
}

.section3 {
  padding-bottom: 70px;
}

.other-product {
  margin-bottom: 80px;
}
.section3-info h2 {
  font-weight: 900;
  font-size: 29px;
  line-height: 44px;
}
}


/* ---------------max-width--767px------------------- */



/* ---------------max-width--686px------------------- */
/* s5 */
@media (max-width:600px) {
 /* s3 */

 .tube-info p {
    padding: 33px 32px;
  }

  .heat-tube h2 {
    font-size: 35px;
    line-height: 50px;
    }
    .heat-tube h3 {
 
        font-size:32px;
        line-height:50px;
      }
      /* section 4 */
     
      .specification-info h3{
        
        font-size:32px;
        line-height: 50px;
      }
    
    /* s5 */
    .s-heading h3 {
        font-size:32px;
        line-height: 50px;
    }
    
    .specification-info h3 {
     
      padding-top: 40px;
      padding-bottom: 20px;
      

    }
}

/* ---------------max-width--686px------------------- */

/* ---------------max-width--512px------------------- */


@media (max-width:555px) {

  /* SEC1 */
  /* .logo img {
    width: 200px;
    height: 77px;
  } */

  /* section3 */
  .section3-info h2 {
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
  }
  .s4-heading h2 a {
    color: #3D3D3D;
    font-weight: 300;
    font-size: 14px;
  }

  .s4-heading h2 span a {
    color: #111111;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
  }
  .heat-tube h2 {
    font-size: 30px;
    line-height: 35px;
}
.heat-tube h3 {
    font-size:26px;
    line-height:24px;
    padding-bottom: 10px;
}


 /* section 4 */
     
 .specification-info h3{
        
    font-size:29px;
    line-height: 40px;
  }

/* s5 */
.s-heading h3 {
    font-size:29px;
    line-height: 40px;
}
.application-info p{
    font-size:18px;
    line-height:28px;
    padding: 50px 50px;
    
}


.application-info p span {
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
}


  /* sec 5 */
  .p-heading h2 {
    font-weight: 600;
    font-size: 29px;
    line-height: 40px;

  }


    /* section 4 */
 
  
      .s-part1 h4 {
        padding-bottom: 0;
      }
      
      .s-part1 h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        padding-top: 24px;
      }
    
      .s-part1 h4 {
        font-weight: 600;
        font-size:18px;
        line-height:27px;
      }
      .s-part1 h4 span {
        font-weight: 300;
        font-size:18px;
        line-height:27px;
      }
      .s-part1 p{
        padding: 10px 38px;
      }
    
      .specification-grade p {
        font-weight: 300;
        font-size: 15px;
        line-height: 27px;
      }
    
}

/* ---------------max-width--512px------------------- */

/* ---------------max-width--512px------------------- */
@media (max-width:512px) {



  
}

/* ---------------max-width--512px------------------- */
/* ---------------max-width--475px------------------- */
@media (max-width:475px) {
  .m-heading h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
  }

  .p-heading h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    padding-top: 40px;
  }

  /* s3 */

  .tube-info p {
    padding: 33px 32px;
  }
  .tube-info .para {
    padding: 25px 32px;
    font-size: 15px;
}

/* s4 */
/* section 4 */
     
.specification-info h3{
        
    font-size:26px;
    line-height: 30px;
  }
  .s-part1 h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

  }

  .s-part1 h4 {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
  }
  .s-part1 h4 span {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
}
.s-part1 p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

/* s5 */

.application-info p {
    font-size: 15px;
    line-height: 26px;
    padding: 40px 50px;
}
.s-part1::after {
  display: none;
}
.heat-tube h2 {
  font-size: 28px;
  line-height: 35px;
}

.section3 {
  padding-bottom:50px;
}
}
/* ---------------max-width--475px------------------- */




/* ---------------max-width-400px------------------- */
@media (max-width:400px) {

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list1 h2 {
    font-size: 20px;

  }

  .f-img2 {
    margin-bottom: 50px;
  }



  /* section7 */
  .line {
    flex-direction: column;
  }

  line p {
    font-size: 18px;
  }

  .section7-img {
    padding: 20px;
  }
  .tube-info p {
    height: 129px;
    font-size: 14px;
}

.heat-tube h3 {
 
  padding-bottom:10px;
}
.heat-tube h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.tube-info .para {
  padding: 25px 32px;
  font-size: 14px;
}
.s-heading h3 {
 
  font-size: 23px;

 
  padding-top: 26px;
  padding-bottom: 21px;
}
}
@media (max-width:330px) {
  .tube-info p {
    line-height:20px;
  }

  .heat-tube h2 {
    padding-top: 15px;
  }
  .tube-info {
    margin: 15px 10px;
}
.specification-info h3 {
  padding-top: 20px;
  text-align: center;
}
}