/*----------------- section 1 start -----------------*/

/* .titleBox h3{
  font-weight: 300;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 40px;
} */

/* .titleBox h1{
  font-weight: 400;
  font-size: 60px;
  color: #FFFFFF;
  line-height: 70px;
} */

/* .titleBox{
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 6.9%;
} */

/* .h1-title{
  font-size: 55px;
  line-height: 70px;
  font-weight: 300;
  color: #111111;
} */

/* .paraPri{
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  width: 75.1%;
  color: #111111;
} */

.main1 {
  position: absolute;
  content: "";
  top: 40%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

.main1 h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;

}

/* form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  } */
/* .form-control
  {
    width: 20%;
    border-radius: 30px;
    padding: 12px 20px;
  } */

/* .btn{
      margin-left: 20px;
      border-radius: 30px;
      padding: 12px 25px;
      background-color:#3B42F8;
      color: white;
      border: none;
      margin-top: 20px;
  } */
.btn1 {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  margin-top: 20px;
}

.nav-link img {
  padding: 0;
  margin-top: 10px;
}

/* 
  .logo,
  .content {
    color: #fafafa;
  } */

.nav {
  width: 100%;
  /* background-color: #1a1a1a; */
  display: flex;
  justify-content: space-start;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: 3;
}

#overlay {
  position: fixed;
  width: 85%;
  min-height: 100%;
  background-color: #1a1a1a;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay.menu {
  transform: translateY(0%);
}

#overlay a {
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
  margin: 2%;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}

/*----------------- section 1 end -----------------*/
/*----------------- section2 start----------------- */

.main-img img {
  width: 100%;


  /* height: 673px; */

}

.product-info h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */
  padding-top: 10px;
  text-transform: uppercase;

  color: #111111;

}

.product-info p {
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  color: #111111;
  padding-bottom: 60px;
  /* padding-top:10px ; */
}

.section3 {
  padding-bottom: 124px;
}

/*----------------- section2 end----------------- */

/*----------------- section3 start----------------- */
.product-img {
     margin: 24px 9px 0;
}

.product-img img {

  width: 100%;

}

.product-info {
  padding: 0 10px;
}

/*----------------- section3 end----------------- */

/*----------------- section-4 start--------------- */
.section4 {
  background-color: #3B42F8;
  width: 100%;
  height: 402px;
}

.s4-heading {

  padding: 20px 10px 45px 10px;
}

.s4-btn .btn {

  color: #3D3D3D;
  padding: 48px 78px;

  border-radius: 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: lowercase;
  background: #FFFFFF;
  margin-top: 130px;

}

.section4-add {
  text-align: center;
  /* padding-top: 141px; */
  color: white;
}

.section4-add h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
  text-transform: lowercase;
  color: #FFFFFF;
  padding-top: 141px;
}

.s4-heading {
  padding-left: 20px;
}

.s4-heading h2 a {
  color: #3D3D3D;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

  text-decoration: none;
}

.s4-heading h2 span a {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

}

/* .cont-btn {
        background: #ffffff;
        border-radius: 40px;
        padding: 48px 78px;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        text-transform: lowercase;
        color: #3d3d3d;
    } */
/*------------------ section4 end ----------------*/


/*-------------------- end --------------------------*/
/* section-7 end */

/* media query */
@media (max-width:1769px) {

  /* section3 */
  .product-info h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 20px!important;
    line-height: 35px!important;
  }

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 40px 70px;
  }
}

@media (max-width:1462px) {
  .product-info h2 {
    font-weight: 600;
    font-size: 25px!important;
    line-height: 44px!important;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 18px!important;
    line-height: 29px!important;
  }


}

@media (max-width:1243px) {
  .product-info h2 {
    font-weight: 600;
    font-size: 22px!important;
    line-height: 35px!important;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 16px!important;
    line-height: 26px!important;
  }
}

@media (max-width:1200px) {

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px!important;
    line-height: 50px!important;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 30px 60px;

    font-size: 24px;
  }

  .product-info p {

    padding-bottom: 30px;
  }

  .section3 {
    padding-bottom: 70px;
  }

  .s4-heading {

    padding: 20px 20px 20px 0px;
  }

  .product-img {
    margin: 24px 7px;
  }

}

@media (max-width:992px) {

  /* section1 */

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px!important;
    line-height: 40px!important;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
  }

  .product-info p {

    padding-bottom: 25px;
    line-height: 23px!important;
  }

  .product-img {
    margin: 12px 4px;
  }

  .product-info h2 {
    font-weight: 600;
    font-size: 20px !important;
    line-height: 35px;
    text-transform: uppercase;
    color: #111111;
  }

}

@media (max-width:767px) {

  /* sec1 */

  /* section3 */
  .product-info h2 {
    font-weight: 600;
    font-size: 20px !important;
    line-height: 30px!important;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 14px!important;
    line-height: 23px!important;
  }

  .s4-heading h2 {
    font-size: 18px;
  }

  .s4-heading span {
    font-size: 18px;
  }

  .section3 {
    padding-bottom: 20px;
  }

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list1 h2 {
    font-size: 20px;

  }

  .f-img2 {
    margin-bottom: 50px;
  }

  /* section7 */
  .line {
    flex-direction: column;
  }

  line p {
    font-size: 18px;
  }

  .section7-img {
    padding: 20px;
  }

  .product-info p {

    padding-bottom: 30px;
  }

  .s4-heading h2 a {

    font-size: 18px;
  }

  .s4-heading h2 span a {
    font-size: 18px;
  }


}

@media (max-width:512px) {

  .product-info h2 {
    font-weight: 600;
    font-size: 18px !important;
    line-height: 28px!important;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 14px!important;
    line-height: 23px!important;
  }

  .product-info p {

    padding-bottom: 20px!important;
  }

  .s4-heading h2 a {

    font-size: 16px;
  }

  .s4-heading h2 span a {
    font-size: 16px;
  }
}

@media (max-width:400px) {

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 40px!important;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list1 h2 {
    font-size: 20px;

  }

  .f-img2 {
    margin-bottom: 50px;
  }

  /* section7 */
  .line {
    flex-direction: column;
  }

  line p {
    font-size: 18px;
  }

  .section7-img {
    padding: 20px;
  }


}