
/*----------------- section 1 start -----------------*/

.main1 {
  position: absolute;
  content: "";
  top: 40%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

.main1 h2 {
  color: white;
  font-size: 40px;
  font-weight: 600;

}
/* 
form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
} */

/* .form-control {
  width: 20%;
  border-radius: 30px;
  padding: 12px 20px;
} */

/* .btn {
  margin-left: 20px;
  border-radius: 30px;
  padding: 12px 25px;
  background-color: #3B42F8;
  color: white;
  border: none;
} */

.btn1 {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  margin-top: 20px;
}

.nav-link img {
  padding: 0;
  margin-top: 10px;
}



/* .logo,
.content {
  color: #fafafa;
} */



#overlay {
  position: fixed;
  width: 85%;
  min-height: 100%;
  background-color: #1a1a1a;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay.menu {
  transform: translateY(0%);
}

#overlay a {
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
  margin: 2%;
  transition: opacity 0.2s linear;
}

#overlay a:hover {
  opacity: 1;
}

/*----------------- section 1 end -----------------*/
/*----------------- section2 start----------------- */

.main-img img {
  width: 100%;
  /* padding: 0px 20px; */
  /* height: 673px; */

}

.product-info h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */

  text-transform: uppercase;

  color: #111111;

}

.product-info p {
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  color: #111111;
  padding-bottom: 30px;
  /* padding-top:10px ; */
}

.section3 {
  padding-bottom: 124px;
}

/*----------------- section2 end----------------- */

/*----------------- section3 start----------------- */


.section3-info {
  padding: 20px;
}

.section3-info h2 {

  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  color: #3B42F8;
  padding-bottom: 50px;

}

.section3-info p {
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  color: #111111;

}

.section4-add h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
  text-transform: lowercase;
  color: #FFFFFF;
  padding-top: 141px;
}

.s4-heading {
  padding-left: 20px;
  padding-top: 20px;
}

.s4-heading h2 a {
  color: #3D3D3D;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

  text-decoration: none;
}

.s4-heading h2 span a {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;

}

/*----------------- section3 end----------------- */

/*----------------- section-4 start--------------- */
.structure-img img {
  width: 100%;
  padding: 24px 20px;
  /* height: 673px; */
}

.m-heading h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  /* identical to box height */
  padding-left: 20px;
  text-transform: uppercase;

  color: #111111;
  padding: 62px 0 20px 20px;
}

.main-img4 img {
  /*width: 100%;*/
  /*height: 566.55px;*/
  padding: 0px 20px;
}

/*------------------ section4 end ----------------*/

/*----------------- section5-------------------*/



.manufacturing-img1 {
  position: relative;
  margin: 32px 20px;
}

.manufacturing-img {
  position: relative;
  margin: 32px 20px;
}

.manufacturing-img img {

  border-radius: 40px;
  width: 100%;
}

.manufacturing-img1 img {
  width: 100%;
  border-radius: 40px;

}

/* .manufacturing-img1 img::before {

        position: absolute;
        content: "";
        width: 89.5%;
        height: 356px;
         
        bottom:0;
        left:28px;
        border-radius:10px;
        right:28px;
        z-index: 1;
        top:10%;
    } */
.m-img1 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  background:linear-gradient(180deg, rgba(59, 66, 248, 0) 0%, #3B42F8 109.75%);
  border-radius: 40px;
  opacity:0;
}
.manufacturing-img:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  padding: 250px 50px 33px 50px;
  color: #FFFFFF;


}

.m-img2 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 109.75%);
  border-radius: 40px;


}

.overlay2 h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  padding: 250px 50px 33px 50px;
  color: #FFFFFF;


}



/*-------------------- end --------------------------*/
/*-------------------- section-6 start-------------- */
.other-product {
  margin-bottom: 200px;
}

.other-product-img img {
  width: 100%;
  padding: 20px;
  border-radius: 40px;
}

.p-heading h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  /* identical to box height */
  padding-left:32px;
  text-transform: uppercase;
  padding-top: 145px;
  color: #111111;
  padding-bottom: 56px;

}

.other-product-info h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */

  text-transform: uppercase;

  color: #111111;
  padding-left:32px;
  padding-top: 10px;

}

.bg-img img {
  width: 100%;
}

/* section-6 end */

/* section7 */



.f-procuct {
  padding: 20px;
}

.f-img1 img {
  width: 272px;
  height: 108px;
  margin-bottom: 39.66px;
}

.f-img2 img {
  width: 304px;
  height: 203px;

}

.f-procuct {
  padding-left: 50px;
}

.list h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;

  color: #111111;
}

.list h2 {
  padding-left: 30px;

}

.list ul li {
  list-style-type: none;
}

.list ul li a {
  font-weight: 300;
  font-size: 20px;
  line-height: 220%;
  /* or 44px */
  text-decoration: none;

  color: #111111;


}

.add i {
  font-size: 20px;
  color: #111111;
  padding-left: 33px;
  padding-top: 5px;
}

.add p {
  padding-left: 20px;
  font-size: 20px;
  line-height: 27px;

  color: #111111;
  padding-bottom: 35.55px;
}

.f-contact {
  padding-bottom: 21px;
}

.f-contact h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #111111;
  padding-left: 20px;
  padding-bottom: 4px;

}

.f-mail i {
  color: #111111;
  padding-top: 15px;
  font-size: 20px;
  padding-left: 28px;
}

.f-mail h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 205%;
  color: #111111;
  padding-left: 25px;
}

.address1 h2 {
  padding-bottom: 12px;
}

.f-contact2 h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #111111;
  padding-left: 20px;

  margin-bottom: 0;
}

/* section-7 start */

.section7 {
  background-color: #111111;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  text-align: center;



}

.line {
  padding: 24px;
  margin-bottom: 0;
}

.line p {
  margin-bottom: 0;
  padding: 0 20px;
}

.section7-img img {
  margin: 0 5px;
}

.in {
  background-color: #007AB9;
  padding: 7px;

  border-radius: 20px;
}

/* section-7 end */


/*----------------- section-4 start--------------- */
.section4 {
  background-color: #3B42F8;
  width: 100%;
  height: 402px;
}

.s4-btn .btn {

  color: #3D3D3D;
  padding: 48px 78px;

  border-radius: 30px;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  text-transform: lowercase;
  background: #FFFFFF;
  margin-top: 130px;

}

.section4-add {
  text-align: center;
  /* padding-top: 141px; */
  color: white;
}

.section4-add h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 61px;
  text-transform: lowercase;
  color: #FFFFFF;
  padding-top: 141px;
}

.s4-heading {
  padding-left: 20px;
}

/*------------------ section4 end ----------------*/

/*----------------- section5-------------------*/


.footer-list1 {
  padding-top: 29px;
  /* padding-bottom: 24.06px; */
  text-align: center;
}

.footer-list1 h2 {
  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  text-align: center;

  color: #111111;
  padding: 0 30px;
}

.footer-list {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;

}

/*-------------------- end --------------------------*/

/* ------------------media query---------------------- */

/* ------------------1769------------- */
@media (max-width:1769px) {

  /* section3 */
  .product-info h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
  }

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 40px 70px;
  }

  /* s5 */

  .overlay h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 230px 50px 33px 50px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 230px 50px 33px 50px;
  }
}


/* -----------------max-width-1769------------- */

/* -----------------max-width-1500------------- */
@media (max-width:1500px) {

  /* s5 */

  .overlay h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 180px 50px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 180px 50px;
  }



}

/* -----------------max-width-1462------------- */
@media (max-width:1462px) {
  .product-info h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
  }


}

/* -----------------max-width-1462------------- */
/* -------------------max-width-1243px----------------- */
@media (max-width:1243px) {
  .product-info h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
}

/* -------------------max-width-1243px----------------- */
/* -------------------max-width-1200px----------------- */

@media (max-width:1200px) {

  /* section3 start*/
  .section3-info h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 64px;
  }



  .section3-info p {
    font-weight: 300;
    font-size: 22px;
    line-height: 37px;
  }

  .main-img4 img {
    width: 100%;
    height:auto;
    padding: 0px 20px;
  }
  /* section3 end */
  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 30px 60px;

    font-size: 24px;
  }

  /* section4 end */

  /* section5 */
  .m-heading h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
  }

  .p-heading h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
  }

  .other-product-info h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }


  /* s5 */

  .overlay h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    padding: 135px 50px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    padding: 135px 50px;
  }



}

/* section5 */

/* -------------------max-width-1200px----------------- */
/* @media (max-width:1112px){
        .product-info h2 {
          font-weight: 600;
          font-size:19px;
          line-height:30px;
          text-transform: uppercase;
          color: #111111;
      }
      .product-info p {
        font-weight: 300;
        font-size: 15px;
        line-height:23px;
      }
      } */

/* ---------------max-width--992px------------------- */
@media (max-width:992px) {

  /* section3 start*/
  .section3-info h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 50px;
  }



  .section3-info p {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
  }


  /* section3 end */

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
  }



  /* section5 */
  .m-heading h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
  }

  .p-heading h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
  }

  .other-product-info h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
  }

  /* s5 */

  .overlay h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    padding: 180px 50px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    padding: 180px 50px;
  }


  /* section5 */
}

@media (max-width:767px) {

  /* section3 */
  .product-info h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
  }

  .s4-heading h2 {
    font-size: 18px;
  }

  .s4-heading span {
    font-size: 18px;
  }

  .section3 {
    padding-bottom: 30px;
  }


  .section3-info p {
    font-weight: 300;
    font-size: 16px;
    line-height:25px;
  }

  .section3-info h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list1 h2 {
    font-size: 20px;

  }

  .f-img2 {
    margin-bottom: 50px;
  }

  /* section5 */

  .p-heading h2 {
    padding-top: 60px;
  }

  .m-heading h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 0;
  }

  /* s5 */

  .overlay h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 350px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 350px 32px;
  }


  /* sec5 */
  /* section7 */
  .line {
    flex-direction: column;
  }

  line p {
    font-size: 18px;
  }

  .section7-img {
    padding: 20px;
  }

  .other-product-info h2 {
    padding-bottom: 0px;
  }


  .section3-info h2 {
    padding-bottom: 20px;
  }

  .manufacturing-img1 {
    position: relative;
    margin: 24px 20px;
  }

  .manufacturing-img {
    position: relative;
    margin: 24px 20px;
  }


  .p-heading h2 {
    padding-bottom: 0;
  }
  .other-product {
    margin-bottom: 60px;
  }

  .section3-info h2 {

    padding-top: 6px;
  }
}

/* ---------------max-width--767px------------------- */

/* ---------------max-width--686px------------------- */
/* s5 */
@media (max-width:686px) {

  .overlay h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 300px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 300px 32px;
  }
}

/* ---------------max-width--686px------------------- */


/* ---------------max-width--686px------------------- */
/* s5 */
@media (max-width:600px) {

  .overlay h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 270px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 270px 32px;
  }
}

/* ---------------max-width--686px------------------- */

/* ---------------max-width--512px------------------- */


@media (max-width:555px) {

  /* SEC1 */
 
  /* section3 */
  .section3-info h2 {
    font-weight: 900;
    font-size: 25px;
    line-height: 33px;
  }

  .s4-heading h2 a {
    color: #3D3D3D;
    font-weight: 300;
    font-size: 16px;
  }

  .s4-heading h2 span a {
    color: #111111;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
  }

  /* sec 5 */
  .p-heading h2 {
    font-weight: 600;
    font-size: 29px;
    line-height: 40px;

  }

  .overlay h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 220px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 220px 32px;
  }

  .other-product-img h2 {
    padding-left: 32px;
  }
  .other-product {
    margin-bottom: 50px;
  }
  .m-heading h2 {
   font-size: 26px;
    padding: 30px 0 0px 20px;
}
.p-heading h2 {
  padding-top: 10px;
  font-size: 25px;

}
}

/* ---------------max-width--512px------------------- */

/* ---------------max-width--512px------------------- */
@media (max-width:512px) {

  .product-info h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #111111;
  }

  .product-info p {
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
  }

  .overlay h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 200px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 200px 32px;
  }
}

/* ---------------max-width--512px------------------- */
/* ---------------max-width--475px------------------- */
@media (max-width:475px) {
  .m-heading h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
  }

  .p-heading h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    padding-top: 10px;
  }

  .overlay h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 180px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 180px 32px;
  }
  .other-product {
    margin-bottom:50px;
  }
}

/* ---------------max-width--475px------------------- */


/* ---------------max-width-400px------------------- */
@media (max-width:400px) {

  /* section 4 */
  .section4-add h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
  }

  .s4-btn .btn {
    color: #3D3D3D;
    padding: 20px 50px;
    font-size: 20px;
    margin-top: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-list1 h2 {
    font-size: 20px;

  }

  .f-img2 {
    margin-bottom: 50px;
  }

  /* s5 */
  .overlay h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 150px 32px;
  }

  .overlay2 h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 150px 32px;
  }

  /* section7 */
  .line {
    flex-direction: column;
  }

  .line p {
    font-size: 18px;
  }

  .section7-img {
    padding: 20px;
  }

  .bw {
    padding-top: 40px;
}
.m-heading h2 {
 
  padding: 30px 0 0px 20px;
  font-size: 20px;

}
.other-product-info h2 {
  font-weight: 600;
  font-size: 19px;
}
.main-img img {
  width: 100%;
  padding: 0px 10px;
}
.s4-heading h2 span a {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.s4-heading h2 a {
  color: #111111;
  text-decoration: none;

  font-size: 14px;
}
.section3-info {
  padding: 10px 20px;
}
.section3-info h2 {
  font-weight: 900;
  font-size: 21px;
}
}

@media (max-width:320px) {

  .section3-info p {

    line-height: 22px;
    font-size: 15px;
}
.section3-info h2 {
  font-weight: 900;
  font-size: 21px;
  line-height: 30px;
}
}